.home-login-container{
    display: flex;
    margin: 0 auto;
}
.home-login{
    margin: 0 auto;
    padding: 10px;
    box-shadow: 20px 10px 25px 25px #6faa87;
    border-radius: 15px;
    position: absolute;
    top: 50%; 
    right: 50%;
    transform: translate(50%,-50%);
}

.form-container {
    display: flex;
    flex-direction: column;
    padding: 5%;
    gap: 20px;
}

.form-container-button{
    margin: 0 auto;
    margin: 10px;
}

.form-container-button button {
    background-color: #98c54c;
    color: white;
    font-weight: bold;
    border: none;
    padding: 0.5rem 2rem;
    border-radius: 5px;
}

.form-container-button button:hover {
    cursor: pointer;
}