.header {
    display: flex;
    background-color: #005030;
    flex-direction: row;
    font-size: 25px;
    color: #fff;
}

.bmsc-header {
    margin: 0 auto;
}

.bmsc-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bmsc-logo img {
    height: 100px;
}

.bmsc-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 1rem;
}

.bmsc-button button {
    background-color: #98c54c;
    color: white;
    font-weight: bold;
    border: none;
    padding: 1rem;
    border-radius: 5px;
}

.bmsc-button button:hover {
    cursor: pointer;
}