.header {
    display: flex;
    background-color: #004f2f;
    font-size: 25px;
    color: #fff;
}

.bmsc-header {
    margin: 0 auto;
}

.bmsc-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bmsc-logo img {
    height: 100px;
}

.bmsc-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
}